@media only screen and (min-width: 1340px) {
  .home-f-events .txt-content {
    padding-left: calc((100vw - 1387px) / 2);
  }
  .home-f-events .txt-content-gap {
    padding-left: 35px;
  }
  .valet-project .content-side {
    padding-right: calc((100vw - 1328px) / 2);
  }
}

@media only screen and (max-width: 1340px) {
  .home-f-events .txt-content-gap {
    padding-left: 11px;
  }
}

@media only screen and (max-width: 1200px) {
  .home-f-events .txt-content-gap p {
    margin: 20px 0 50px;
  }
  .hero-section h1 {
    font-size: 60px;
  }
  header .contact-btn {
    margin-left: 0;
  }
  header .btn.btn-primary {
    margin: 0 10px;
  }
  header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 6px 10px;
  }
  .inner-banner h1 {
    font-size: 50px;
  }
  .event-valet .content-bx {
    padding: 0px 0 0 30px;
  }
  .event-valet .content-bx .divider {
    height: 60px;
  }
  .event-valet .e-w-content {
    padding: 30px 20px 50px 35px;
  }
  .event-valet .e-w-container {
    margin-top: 0;
  }
  .event-valet .e-w-content {
    margin-top: 50px;
  }
  .valet-project strong {
    font-size: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .valet-project .valet-container > div {
    width: 100%;
  }
  .valet-project .valet-container {
    flex-direction: column-reverse;
    padding: 0 15px;
  }
  .valet-project .tx-ig-wrap {
    margin-left: 0;
    padding-right: 0;
    flex-direction: column-reverse;
    text-align: center;
  }
  .valet-project .content-side h3 {
    padding-left: 0;
    text-align: center;
    line-height: normal;
    font-size: 40px;
  }
  .valet-project strong,
  .valet-project p {
    margin-bottom: 20px;
  }
  .home-valet h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .valet-project .tx-ig-wrap div:first-child {
    max-width: 512px;
    width: 100%;
    margin: 0 auto 20px;
  }
  .valet-project .tx-ig-wrap div:first-child img {
    width: 100%;
  }
  .event-valet .e-w-img {
    position: static;
    max-width: 720px;
    margin: auto;
    padding: 0px 12px;
    width: 100%;
  }
  .event-valet .e-w-content {
    width: 100%;
  }
  .home-f-events .f-wrap .f-box {
    width: 100%;
  }
  .home-f-events .custom-nav {
    transform: none;
    justify-content: center;
    position: static;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .home-f-events .carousel-container {
    padding: 30px 0px 30px 0;
  }
  .home-f-events .txt-content-gap h2 {
    font-size: 50px;
  }
  .Partner-restaurants h2 {
    font-size: 50px;
  }
  .download-app h2 {
    font-size: 40px;
  }
  .home-f-events .f-wrap .f-box {
    height: auto;
  }
  .hero-section {
    padding: 50px 0 50px;
  }
  .hero-section .p-three {
    right: 24%;
  }
  .hero-section .p-two {
    right: 0%;
  }
  .hero-section .p-one {
    right: 28%;
  }
  .h-services {
    padding: 40px 0 40px;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler {
    border: none;
    padding: 0;
  }
  .inner-banner,
  .inner-banner.reservation-bnr {
    padding: 60px 0;
  }
  .pb-100 {
    padding-bottom: 60px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .unique_title,
  .online-reservation h2 {
    font-size: 40px;
  }
  footer .logo-side {
    max-width: 100%;
    text-align: center;
  }
  footer .social-icon {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    border-bottom: 1px solid #5e5e5e;
    padding-bottom: 20px;
  }
  .future-event .bx-item {
    width: 100%;
  }
  footer .logo-side small {
    border-bottom: 0;
  }
  .inner-banner.reservation-bnr {
    padding: 80px 0 80px;
  }
  .online-reservation h4 {
    font-size: 22px;
  }
  .online-reservation {
    padding: 60px 0;
  }
  .reservation-btm {
    padding: 60px 0;
  }
  .reservation-btm p {
    font-size: 22px;
  }
  .online-reservation .rounded-pill {
    padding: 14px 30px;
  }
  .modal-btn-wrap {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .reservation-btm {
    padding: 30px 0;
  }
  .online-reservation h4 {
    font-size: 18px;
  }
  .event-valet .vid-content {
    margin: 0;
    padding-top: 30px;
  }
  .event-valet .content-bx {
    padding: 20px 0 0;
  }
  .event-valet .e-w-img {
    max-width: 540px;
  }
  footer h5 {
    margin-bottom: 5px;
  }
  footer .get-it-now {
    margin: 30px auto 30px auto;
  }

  .h-services .s-wrap::before {
    display: none;
  }
  .h-services .s-wrap ul {
    padding-left: 0;
    padding-top: 15px;
  }
  .h-services .s-wrap ul li {
    margin-bottom: 25px;
  }
  .download-app .app-det {
    text-align: center;
    padding-bottom: 30px;
  }

  .download-app p {
    margin: auto;
  }
  .download-app h2 {
    margin: 0 auto 30px;
  }
  .download-app .btn-wrap {
    justify-content: center;
  }
  .Partner-restaurants .Partner-slider .slick-slide {
    height: 450px;
  }

  .home-f-events .txt-content-gap h2,
  .download-app h2,
  .Partner-restaurants h2 {
    font-size: 30px;
  }
  footer .get-it-now h2 {
    font-size: 26px;
  }
  .home-f-events .r-event .shp-bx h5 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .home-f-events .r-event .shp-bx .f-btn {
    margin-top: 10px;
  }
  .home-f-events .r-event .shp-bx b {
    font-size: 30px;
  }
  .Partner-restaurants {
    padding-top: 40px;
  }
  .Partner-restaurants .Partner-slider {
    margin-top: 40px;
  }
  .download-app {
    padding: 30px 0;
  }
  .home-f-events .txt-content-gap {
    padding: 30px 15px;
  }
  .home-f-events .f-wrap .r-event {
    height: 500px;
  }
  .hero-section h1 {
    font-size: 40px;
    line-height: normal;
  }
  .inner-banner h1 {
    font-size: 40px;
  }
  .future-event .rght-bx .child-bx p {
    font-size: 18px;
  }
  .unique_title,
  .online-reservation h2 {
    font-size: 26px;
  }
  .future-event .rght-bx .blckbx > div h4 {
    font-size: 26px;
    margin: 0 auto 15px;
  }
  .online-reservation .txt-bx {
    margin-bottom: 30px;
  }
  .online-reservation .pagination {
    margin-top: 30px;
  }

  .modal-container .modal-body h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .mdl-content {
    margin-top: 30px;
}
  .mdl-content h5 {
    font-size: 18px;
  }
  .mdl-content span {
    margin-bottom: 10px;
  }
  .Partner-restaurants .slider-item .slider-des {
    top: 83%;
  }
  .Partner-restaurants .slider-item:hover .slider-des {
    top: 30%;
  }
}

@media only screen and (max-width: 576px) {
  .home-f-events .item p {
    font-size: 11px;
    bottom: 10px;
    line-height: 16px;
    left: 13px;
  }

  .Partner-restaurants .slider-item:hover .slider-des {
    top: 15%;
  }
  .Partner-restaurants .slider-item .slider-des {
    padding: 20px 15px 50px;
  }
  .Partner-restaurants .slider-item a {
    padding: 15px 50px;
  }
  .home-f-events .carousel-container {
    padding: 15px 0px 10px 0;
  }
  .home-f-events .custom-nav {
    padding: 20px 0;
  }

  .inner-banner,
  .inner-banner.reservation-bnr {
    padding: 30px 0;
  }
  .pb-100 {
    padding-bottom: 30px;
  }
  .event-valet .e-w-container {
    margin-bottom: 0;
  }
  .event-valet .content-bx .divider {
    height: 20px;
  }
  .event-valet .content-bx .unique_title::after {
    margin: 10px auto 0;
  }
  .pt-100 {
    padding-top: 30px;
  }
  .future-event .rght-bx {
    height: auto;
  }
  .future-event .rght-bx .child-bx {
    width: 100%;
    height: auto;
  }
  .home-f-events .r-event .shp-bx {
    padding: 20px 15px 25px;
    position: static;
    text-align: center;
  }
  .Partner-restaurants .custom-nav-wrap button,
  .home-f-events .custom-nav button {
    width: 40px;
    height: 40px;
  }
  .Partner-restaurants .custom-nav-wrap button img,
  .home-f-events .custom-nav button img {
    width: 20px;
  }
  .Partner-restaurants .custom-nav-wrap {
    gap: 20px;
  }
  .Partner-restaurants .Partner-slider .slick-slide {
    height: 328px;
  }
  .Partner-restaurants .slider-item h6 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .hero-section .btn-wrap {
    gap: 10px;
    flex-direction: column;
    margin-top: 30px;
  }
  .hero-section h1 {
    font-size: 40px;
    padding: 10px 0 10px;
    line-height: 44px;
  }
  .inner-banner h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .inner-banner p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .inner-banner .btn-container {
    margin-top: 30px;
  }
  .hero-section {
    padding: 0;
    background-size: cover;
    background-position: 80% 100%;
  }
  .hero-section .wrap {
    padding: 381px 0 40px;
  }
  .download-app h2 {
    margin: 0 auto 15px;
    font-weight: normal;
  }
  .home-f-events .r-event .shp-bx span {
    color: #fff;
  }
  .home-f-events .r-event .shp-bx h5 {
    margin-bottom: 20px;
    line-height: 30px;
  }
  .f-btn {
    padding: 15px 40px;
  }
  .home-f-events .r-event .shp-bx b {
    margin-bottom: 25px;
  }
  .h-services {
    padding: 0px 0 0px;
  }
  .h-services .s-wrap h4 {
    font-size: 30px;
    font-weight: 600;
  }
  .hero-section .btn-wrap a {
    padding: 14px 21px;
    max-width: 210px;
  }
  .h-services .img-con-bx p {
    line-height: 24px;
  }
  .h-services .s-wrap ul li {
    margin-bottom: 40px;
    text-align: center;
  }
  .hero-section .content-bx {
    text-align: center;
  }
  .hero-section p {
    line-height: normal;
    font-size: 12px;
    font-weight: 500;
  }
  .home-f-events .txt-content-gap p {
    margin: 20px 0 20px;
    font-size: 14px;
    line-height: 22px;
  }
  footer .policy {
    padding: 15px 0 15px;
  }
  footer {
    padding: 30px 0;
  }
  footer .get-it-now {
    margin: 30px auto 0px auto;
  }
  footer .in-wrap button {
    padding: 0 15px;
    font-size: 14px;
  }
  .download-app p {
    font-weight: 400;
    line-height: 22px;
    font-size: 14px;
  }
  .download-app .btn-wrap {
    margin-top: 30px;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .download-app .app-det {
    padding-bottom: 0;
  }
  .download-app {
    padding: 30px 0 60px;
  }
  .download-app .btn-wrap img {
    width: 190px;
  }
  footer h5 {
    font-size: 18px;
    text-align: center;
  }
  footer h5::after {
    margin: 4px auto 0;
  }
  footer ul li {
    text-align: center;
  }
  footer ul {
    margin-bottom: 35px;
  }
  .h-services .img-con-bx {
    padding-right: 0;
  }
  header .navbar-brand img {
    max-width: 90px;
    object-fit: contain;
  }
  header .navbar {
    padding: 0;
  }
  header .navbar-collapse {
    padding-bottom: 10px;
  }
  .future-event .rght-bx .blckbx {
    height: auto;
  }
  footer .policy a {
    display: block;
  }
  .future-event .lft-bx p {
    font-size: 20px;
  }
  .event-valet .e-w-content {
    padding: 60px 15px 200px 15px;
  }
  .inner-banner .universal-btn.btn {
    margin-top: 15px;
    padding: 14px 21px;
    font-weight: 500;
  }
  .online-reservation .card figure {
    height: auto;
  }
  .online-reservation {
    padding: 30px 0;
  }
  .online-reservation .card-title {
    font-size: 18px;
    line-height: normal;
  }
  .online-reservation .card-body h5 {
    font-size: 16px;
  }
  .online-reservation .rounded-pill {
    font-size: 14px;
    padding: 14px 20px;
    font-weight: normal;
  }
  .reservation-btm p {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
  .modal-btn-wrap button {
    width: 100%;
  }
  footer .get-it-now h2 {
    font-size: 30px;
  }
  .modal-img {
    height: auto;
  }
  footer .get-it-now p {
    font-size: 14px;
    margin-bottom: 20x;
  }
  .modal-btn-wrap {
    margin-top: 20px;
  }
  .time-selection button {
    width: calc((100% / 3) - 6px);
  }
  .modal-container .modal-body {
    padding: 0 15px 20px;
  }
  .modal-container .modal-body h2 {
    font-size: 22px;
  }
  .mdl-content h5 {
    font-size: 22px;
    padding-right: 15px;
    line-height: 33px;
    margin: 0;
  }
  .mdl-content strong {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
  }
  .modal-container .payment-details {
    margin: 12px 0 20px;
  }
  .modal-content .btn-secondary {
    font-size: 16px;
    font-weight: 400;
    padding: 14px 14px;
  }
  .modal-container .customer-details form,
  .modal-container .payment-d-container {
    margin-bottom: 0;
  }
  .hero-section .circle {
    width: 320px;
  }
  .hero-section .bnr-car {
    right: 0%;
    bottom: 460px;
  }
  .hero-section .circle-container {
    bottom: 25px;
    height: 200px;
    width: 120px;
    right: 60px;
    z-index: -1;
    transform: translate(190px, 140px);
  }
  .hero-section .p-one {
    right: inherit;
    top: 30px;
  }
  .hero-section .p-two {
    right: 0%;
    top: 11%;
  }
  .hero-section .p-three {
    right: inherit;
    left: 10%;
    top: 35%;
  }
  .hero-section .circle img {
    width: 110px;
  }

  @media (max-width: 768px) {
    @keyframes animate0 {
      0%,
      100% {
        height: 40px;
        width: 40px;
        opacity: 1;
      }
      50% {
        height: 90px;
        width: 90px;
        opacity: 0.5;
      }
    }

    @keyframes animate1 {
      0%,
      100% {
        height: 100px;
        width: 100px;
        opacity: 0;
      }
      45% {
        opacity: 1;
      }
      100% {
        height: 120px;
        width: 120px;
        opacity: 0;
      }
    }

    @keyframes animate2 {
      0%,
      100% {
        height: 100px;
        width: 100px;
        opacity: 0;
      }
      45% {
        opacity: 1;
      }
      100% {
        height: 160px;
        width: 160px;
        opacity: 0;
      }
    }
  }

  .hero-section .content-bx span {
    font-size: 12px;
  }

  .time-tag {
    font-size: 8px;
    display: flex;
    align-items: center;
  }
  .time-tag small {
    width: 22px;
    height: 22px;
    font-size: 11px;
  }
  .home-f-events .txt-content-gap {
    padding: 40px 15px 30px;
  }
  .home-f-events .txt-content-gap h2 {
    font-size: 30px;
  }
  .home-f-events .txt-content-gap h2::after {
    margin: 15px auto 0 auto;
  }
  .home-f-events .txt-content-gap {
    text-align: center;
  }
  .home-f-events .item {
    height: 194px;
  }
  .home-f-events .f-wrap .r-event > img {
    height: 307px;
  }
  .home-f-events .f-wrap .r-event {
    height: auto;
  }
  .Partner-restaurants h2 {
    width: 100%;
    text-align: center;
    font-weight: 600;
  }
  .Partner-restaurants {
    padding-top: 30px;
    position: relative;
    padding-bottom: 110px;
  }
  .Partner-restaurants .custom-nav-wrap {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    gap: 25px;
  }
  .Partner-restaurants .Partner-slider {
    margin-top: 30px;
  }
  footer .social-icon {
    margin-bottom: 50px;
    border-bottom: none;
    border-top: 1px solid #5e5e5e;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 0;
  }
  .inner-banner small {
    font-size: 16px;
    padding-bottom: 15px;
  }
  .event-valet .evt-top .row {
    flex-direction: column-reverse;
  }
  .event-valet .content-bx {
    padding: 0 0 50px;
  }
  .event-valet .unique_title {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
  }
  .event-valet .content-bx p {
    color: rgba(0, 0, 0, 1);
    line-height: 21px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  .event-valet .e-w-img {
    margin-top: -160px;
    padding: 0px 40px;
  }
  .event-valet .vid-order {
    flex-direction: column-reverse;
  }
  .event-valet .video-player {
    display: flex;
    flex-direction: column-reverse;
  }
  .event-valet .vid-content {
    max-width: 100%;
    margin-top: 60px;
  }
  .event-valet .vid-content .unique_title::before {
    margin: 0 auto 10px;
  }
  .event-valet .video-player p {
    margin-top: 30px;
    line-height: 21px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .event-valet .v-wrap {
    height: 212px;
    max-width: calc(100% - 50px);
    margin: auto;
  }
  .event-valet .v-wrap .btn-position {
    max-width: 100%;
  }
  .event-valet .v-wrap .btn-position h6 {
    font-size: 14px;
  }
  .event-valet .v-wrap .btn-position small {
    font-size: 10px;
  }
  .event-valet .v-wrap .btn-position {
    gap: 10px;
  }
  section.event-valet {
    padding-bottom: 100px;
  }
  .future-event .bx-wrap {
    padding: 0 15px;
  }
  .future-event .bx-item:last-child {
    padding-top: 20px;
  }
  .future-event {
    padding: 40px 0 20px;
  }
  .future-event .lft-bx p,
  .future-event .rght-bx .child-bx p {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  .future-event .rght-bx .blckbx > div {
    padding: 70px 25px;
  }
  .future-event .rght-bx .blckbx > div h4 {
    font-size: 20px;
    margin: 0 auto 30px;
    font-weight: 600;
  }
  .future-event .rght-bx .blckbx > div p {
    font-size: 12px;
    line-height: 18px;
  }
  .future-event .rght-bx .child-bx p {
    font-size: 20px;
    font-weight: 600;
  }
  .event-valet .e-w-content p {
    text-align: center;
  }
  .valet-project .content-side h3 {
    font-size: 24px;
  }
  .valet-project strong {
    font-size: 34px;
  }
  .valet-project p {
    font-size: 14px;
    line-height: 21px;
  }
  .valet-project .tx-ig-wrap {
    gap: 40px;
  }

  section.valet-project {
    position: relative;
    padding-bottom: 164px;
  }
  .valet-project .tx-ig-wrap div:first-child {
    height: 229px;
    width: 192px;
    margin: 0 0 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .valet-project .valet-container .img-side {
    padding-top: 40px;
  }
  .valet-project .tx-ig-wrap div:first-child img {
    height: 100%;
  }
  .home-valet h2 {
    font-size: 30px;
    line-height: 45px;
  }
  .home-valet h6 {
    line-height: 22px;
    font-size: 14px;
  }
  .home-valet h6::after {
    height: 40px;
  }
  .home-valet p {
    font-size: 14px;
    line-height: 21px;
  }
  .safe-home-video .video-wrapper {
    height: 250px;
  }
  .safe-home-video {
    padding-bottom: 100px;
  }
  .modal-container .mdl-title{
    justify-content: center;
  }
  .mdl-content > div:first-child {
    display: flex;
    margin-bottom: 40px;
}
.mdl-content > div:first-child span {
  white-space: nowrap;
}
.mdl-content p{
  text-align: center;
  font-size: 10px;
  line-height: 15px;
  margin-bottom: 60px;
}
.mdl-title h5{
  color: #000;
}
.mdl-rght h4{
  text-align: center;
  color: #000;
}
}
